* {
  box-sizing: border-box;
}

body {
  background-color: #576672;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #20313F;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #20313F;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.cv {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.cv:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px;
  /* Adds a 10px inner spacing to all sides */
  /* padding: 10px 5px; Adds 10px to top & bottom and 5px to left and right */
  /* padding: 10px 5px 15px 5px; /* Adds 10px top, 5px right, 15px bottom, 5px left */
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.53);
  position: fixed;
  width: 100%
}
.social-icons {
  list-style: none;
  padding: 0px;
}
.social-icons li {
  display: inline-block;
  margin: 0px 10px;
}
.social-icons img{
  width: 40px;
}

.logo {
  width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav:hover {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav:visited {
  /* visited link */
  color: #20313F;
}

nav:active {
  /* selected link */
  color: #994c30;
}

#hero {
  background-color: #;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/*
colours used:
dark blue: #20313F;
lighter blue: #576672;
another dark blue: #112535;
cream: #858055;
brown: #332D02;
*/
/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero h3 {
  text-align: center;
  /* Centers text */
}
#hero h4 {
  text-align: center;
  /* Centers text */
}
main {
  padding-top: 133px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 99px;
  }
  #hero {
    font-size: 18px;
    line-height: 1.6;
  }
  #hero span {
  display: block;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
